@inherits LayoutComponentBase

<div class="page" >
    <div class="sidebar">
        <NavMenu />
    </div >

    <div class="col-md-9" >
        <header class="text-center">
        <h1>
            <span >
                🎶Vinyl Therapy🎧
            </span>
        </h1>
        <h3>
            <span >
            Spin away your worries here...
            </span>
            </h3>
    </header>

        <main class="text-center">
        
        <article>
            @Body
        </article>
    </main>

    <footer class="footer">
        <section class="content has-text-centered">
        <p>&copy; Vinyl Therapy 2025. All Rights Reserved.</p>
        </section>
    </footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
