@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="content-container">
        <header class="header text-center">
            <h1 class="title">🎶 Vinyl Therapy 🎧</h1>
            <h3 class="subtitle">Spin away your worries here...</h3>
        </header>

        <main>
            <article>
                @Body
            </article>
        </main>

        <footer class="footer text-center">
            <p>&copy; Vinyl Therapy 2025. All Rights Reserved.</p>
        </footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
