@page "/"

<PageTitle>Vinyl Therapy</PageTitle>

<h2 class="text-center">
    <span>
        Welcome to Vinyl Therapy
    </span>
</h2>
<p class="text-center">Find your ultimate spinning therapy here.</p>

<div>
    
    
</div>

@code
{
    public List<Album> AlbumsList = new List<Album>()
        {
            new Album() { Id = 1, Name = "30", Artist = "Adele", ReleaseYear = 2021, Genre = Genre.Pop },
            new Album() { Id = 2, Name = "21", Artist = "Adele", ReleaseYear = 2011, Genre = Genre.Pop },
            new Album() { Id = 3, Name = "Hotel California", Artist = "Eagles", ReleaseYear = 1976, Genre = Genre.Country }
        };
}
