<section>
    <h3>💿Record Summary💿</h3>
    <p>Name: @Album.Name</p>
    <p>Artist: @Album.Artist</p>
    <p>Released: @Album.ReleaseYear</p>
</section>

@code {
    [Parameter]
    public Album Album { get; set; }

}
