
.card {
    border: none;
    border-radius: 10px;
    background-color: #a5907f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
}
.record-card {
    text-decoration: none;
}

    .record-card:hover {
        text-decoration: none;
    }



.card-body {
    text-align: left;
}


.record-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 10px;
}


.spinning-image {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.card-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #2e1c07;
}

.card-subtitle {
    font-size: 1.25rem;
    font-style: italic;
    color: #73450d;
}

.card-text {
    font-size: 1rem;
    font-weight: 500;
    color: #2e1c07;
}

.text-info {
    font-weight: bold;
    font-size: 1.1rem;
    color: #2980b9;
}
